@mixin flexedCenterCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flexedCenterRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Cedarville Cursive', cursive;
}



body{
    @include flexedCenterCol();
    justify-content: space-evenly;
    min-height: 100vh;
    width: 100%;
    background: black;
    position: relative;
    border: 1rem solid white;
    border-bottom: 5rem solid white;
    height: auto;

    .area{
        @include flexedCenterCol();
        width: 100%;
        color: white;
    }

    nav{
        z-index: 10;
        @include flexedCenterRow();
        padding: 1rem;
        justify-content: center;
        height: 10%;
        width: 100%;
        color: white;

        .logo{
            cursor: pointer;
            margin: 0rem 5rem;
            &:hover{
                color: orange;
                transition: all ease .5s;

            }

        }

        ul{
            @include flexedCenterRow();
            height: auto;
            z-index: 2;
            width: auto;
            list-style: none;
            *{
                text-align: center;
            }
            li{
                transition: all ease .5s;
                margin: .5rem;
                cursor: pointer;
                position: relative;
                ul{
                    height: auto;
                    display: none;
                    li{

                        width: auto;
                        height: auto;

                    }
                }
                &:hover{
                    ul{
                        display: block;
                        position: absolute;
                        color: orange; 
                        li{
                            &:hover{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    .reaching-hand{
        position: absolute;
        bottom: -18%;
        transform: rotate(90deg);
        z-index: 1;
        left: 0;
    }

    .reaching-hand2{
        z-index: 1;
        position: absolute;
        right: 0%;
        bottom: -18%;
        transform: rotate(-90deg);

    }

    section{
        z-index: 2;
        position: relative;
        .photoHolder{
            @include flexedCenterCol();
            width: auto;
            height: auto;
            position: relative;
            h1{
                transition: all ease .5s;
                width: 100%;
                height: auto;
                text-align: center;
                position: absolute;
                bottom: 7%;
                color: black;
            }
            img{
                margin: .75rem;
                height: 23rem;
                width: 28rem;
                border-radius: 1rem;
                transition: all ease .5s;
                border: 1rem solid rgb(201, 201, 201);
                border-bottom: 5rem solid rgb(201, 201, 201);
            }

            // &:hover{
            //     h1{
            //         color: orange; 
            //     }
            // }
        }
        .photoSelections{
            @include flexedCenterRow();
            position: absolute;
            bottom: -20%;
            color: white;
            width: 50%;
            height: 5rem;
            .photo{
                cursor: pointer;
                height: 5rem;
                width: 6rem;
                border-radius: .5rem;
                transition: all ease .5s;
                background: black;
                border: .5rem solid rgb(201, 201, 201);
                border-bottom:1rem solid rgb(201, 201, 201);
                box-shadow: .5rem .5rem 1rem black;
                transition: all ease .25s;
                &:hover{
                    box-shadow: 0rem .5rem 1rem black;
                    z-index: 100;
                    height: 5.5rem;
                    width: 6.5rem;
                    margin: 0rem -.125rem;
                    margin-bottom: 1rem;
                    // animation-name: camFlash;
                    // animation-iteration-count: 1;
                    // animation-duration: 2.5s;
                }
            }
            .one{
                z-index: 6;
                background: url('./photos/meteorVolcano.jpg');
                background-size: 100% 100%;

            }
            .two{
                z-index: 5;
                background: url('./photos/lakeDeck.jpg');
                background-size: 100% 100%;

            }
            .three{
                z-index: 4;
                background: url('./photos/lakePhoto.jpg');
                background-size: 100% 100%;

            }
            .four{
                z-index: 3;
                background: url('./photos/springflowerPhoto.jpg');
                background-size: 100% 100%;

            }
            .five{
                z-index: 2;
                background: url('./photos/parkTree.jpg');
                background-size: 100% 100%;

            }
            .six{
                z-index: 1;
                background: url('./photos/sunsetLake.jpg');
                background-size: 100% 100%;

            }
        }
    }

}

@keyframes neonOn{
    0%{
        opacity: .2;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: .5;
    }
    60%{
        opacity: .8;
    }
    80%{
        opacity: .8;
    }
    100%{
        opacity: .8;
    }


}

@keyframes camFlash{
    0%{
        opacity: 0;

    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
